<div class="container p-3">
    <div class="row">
     <div class="col-sm-3"></div>  
     <div class="col-sm-6 p-3"style="border:1px solid gray ;">  
     <form >
    <div class="mb-3 mt-3" > 
      <label for="email" class="form-label">Company Name:</label>
      <input  type="text" [(ngModel)]="partner.name" required class="form-control"  id="name" placeholder="Enter Name" name="name" >
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Number Of Branches:</label>
      <input  type="number" [(ngModel)]="partner.numberOfBranches" required class="form-control"  id="pwd" placeholder="Enter Number of Branches/Stores" name="pswd">
    </div>
    <button class="btn btn-primary" (click)="RequestPartnership()">Submit</button><br>
    <!-- <small *ngIf="responsedata.status==='Ok'">{{ responsedata.message}}</small>
    <small class="text-danger" *ngIf="responsedata.status==='Error'">{{ responsedata.message}}</small> -->
    </form>
    
</div>
<div class="col-sm-3"></div>
</div>
</div>
