<div class="container-fluid">
    <div class="row mt-4" [class]="textDirection">
    <div class="col-12 col-md-3 ">
    
        <a  class="btn btn-light border border-2 border-dark br-15 form-control mb-1  text-decoration-none">{{'partner.dashboard'|translate}}</a>
            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#Products" aria-expanded="false" aria-controls="collapseExample">
                {{'product.product'|translate}}
            </button>
            <div  id="Products" class="mt-2 collapse">
                <a routerLink="AllProducts" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'product.showAllproducts'|translate}}</a>
                <a routerLink="PendingProducts" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'product.pendingProducts'|translate}}</a>
                <a routerLink="addProduct" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'product.addNewproduct'|translate}}</a>
            </div> 
            
            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#discount" aria-expanded="false" aria-controls="collapseExample">
                {{'discount.allDiscounts'|translate}}
            </button>
            <div  id="discount" class="mt-2 collapse">
                <a routerLink="admin/showAllDiscounts" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'discount.allDiscounts'|translate}}</a>
                <a routerLink="admin/addDiscount" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'discount.addNewdiscount'|translate}}</a>
                <a routerLink="admin/assignDisountToProduct" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'discount.assignDisountToProduct'|translate}}</a>
            </div>
            
            
            

    </div>
    <div class="col-12 col-md-9 shadow p-3">
        <router-outlet></router-outlet>
    </div>
</div>
</div>

