<div class="container-fluid">
    <div class="row pt-4"  [class]="textDirection" >
    <div class="col-12 col-md-3 " >
            <div id="category" >
                <a  routerLinkActive="text-danger border border-1 border-danger" class="btn btn-dark form-control mb-1  text-decoration-none">{{'user.dashboard'|translate}}</a>
                <a routerLink="/user/userLayout/userShipping" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'user.userOrders'|translate}}</a>
                <a routerLink="/user/userLayout/userPaymentHistory" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'user.userPaymentHistory'|translate}}</a>
                 </div>
    </div>
    <div class="col-12 col-md-9 shadow p-3">
        <router-outlet></router-outlet>
    </div>
</div>
</div>


