<nav class="navbar navbar-expand-lg sidebarheadre" style="color: white;" >
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="50" width="50"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" >
                    <a routerLink="home" routerLinkActive="linkActive" class="nav-link" aria-current="page">{{'navbar.home' | translate}}</a>
                </li>
                
                <!-- <li class="nav-item">
                    <a class="nav-link">{{'navbar.contactUs'|translate}}</a>
                </li> -->
                <li class="nav-item" *ngIf="isShipper">
                    <a routerLink="shipper/shipperLayout" routerLinkActive="linkActive"  class="nav-link" >{{'navbar.shipper' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a routerLink="admin/adminLayout" routerLinkActive="linkActive"  *ngIf="IsAdmin" class="nav-link">{{'navbar.admin'|translate}}</a>
                </li>
                <li class="nav-item" *ngIf="IsPartner">
                    <a routerLink="partner/partnerLayout" routerLinkActive="linkActive" class="nav-link">{{'navbar.partner'|translate}}</a>
                </li>
                <li class="nav-item" *ngIf="!IsLoggedIn&&IsUser">
                    <a routerLink="user/userLayout" routerLinkActive="linkActive" class="nav-link" >{{'user.userPannel'|translate}}</a>
                </li>
            </ul>
            <div class="d-flex">
                <div style="margin-left: 20px;">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item nav-width" *ngIf="IsLoggedIn; else userName">
                            <a class="nav-link " aria-current="page"  routerLink="RegisterUser" routerLinkActive="linkActive" >{{'navbar.register'|translate}}</a>
                        </li>
                        <li class="nav-item nav-width" *ngIf="IsLoggedIn; else logOut">
                            <a class="nav-link " aria-current="page"  routerLink="LoginUser" routerLinkActive="linkActive"  >{{'navbar.login'|translate}}</a>
                        </li>
                        <ng-template #userName>
                        <li class="nav-item nav-width">
                            <a class="nav-link " aria-current="page" routerLink="userdash" routerLinkActive="linkActive">{{username}}</a>
                        </li>
                    </ng-template>
                        <ng-template #logOut>
                        <li class="nav-item nav-width" >
                            <a (click)="logout()" class="nav-link " aria-current="page" routerLink="userdash" routerLinkActive="linkActive">{{'navbar.signout'|translate}}</a>
                            <!-- <a class="nav-link active" aria-current="page" onclick="logout()">{{'navbar.signout'|translate}}</a> -->
                            <!-- <button class="btn btn-link nav-link active text-danger" ></button> -->
                        </li>
                    </ng-template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid" style="background-color: #CACFD2;">
    <div class="row">
        <div class="col-12 col-md-8"></div>
        <div class="col-12 col-md-2 mt-1">
            <div class="row">
                <div class="col-12 col-md-2">
                    <i class="fa-solid fa-globe fs-4 mt-2"></i>
                </div>
                <div class="col-12 col-md-10">
                <select class=" form-select boredr border-2 text-center" #userLang (change)="changeSelectedLanguage(userLang.value)">
                    <option class="select-item-dropdown" value="en" [selected]="lang == 'en'">English</option>
                    <option value="ar" [selected]="lang == 'ar'">عـــربى</option>
                </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="row mt-1" *ngIf="!IsLoggedIn">
                <!-- <div class="col-12 col-md-6 cart-wish-container"><i class="fa-solid fa-heart cart-wish-icon"></i> 12</div> -->
                <div class="col-12 col-md-3"></div>
                <div class="col-12 col-md-6 cart-wish-container" *ngIf="sharedService.isRoleUser()">
                    <a routerLink="/home/cartItems" class="text-decoration-none text-dark"><i class="fa-solid fa-cart-shopping cartHover cart-wish-icon" style="color: orangered; margin-right: 5px;"></i><span class="badge bg-secondary">{{cartItemsCount}}</span></a>
                </div>
                <div class="col-12 col-md-3"></div>
            </div>
        </div>
    </div>
</div>