.nav-link{
    color: white;
    font-weight: 700;
}
.nav-width{
    width: 110px;
    border-left: 1px solid grey;
    text-align: center;
}
.nav-width:first-child{
    border-left:none ;
}
.cart-wish-icon{
    color: white;
    font-size: 25px;
    transition: all .3s ease-in-out;
}
.cart-wish-container{
    text-align: center;
    font-size: 20px;
    padding: 6px;
    transition: all .3s ease-in-out;
    background-color: rgba(128, 128, 128, 0.093);
}
.cart-wish-container:hover .cart-wish-icon{
    color: white;
}
// .cart-wish-container:hover
// {
//     background-color: white;
// }
.cart-wish-container:hover .cartHover{
    color: orangered;
}
.select-item-dropdown {
    padding: 1px 30px ;
    border-bottom: 1px solid #0f31ac ;
}


.sidebar{
    background-color:white  ;
    color: indigo;font-weight: 700;
}
.sidebarheadre{
    color:white  !important;
    background-color:#343a40;
}
.linkActive{

  color:coral ;
  font-weight: 900;
}
.linkActiveUser{

    color:white ;
    font-weight: 900;
  }