<div class="container-fluid">
    <div class="row mt-4" [class]="textDirection">
    <div class="col-12 col-md-3 ">
        <a  class="btn btn-light border border-2 border-dark br-15 form-control mb-1  text-decoration-none">{{'admin.dashboard'|translate}}</a>
            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#category" aria-expanded="false" aria-controls="collapseExample">
                 {{'category.categories'|translate}}
            </button>
            <div id="category" class="collapse">
                <a routerLink="/admin/adminLayout/showCategories" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'category.showAllCategories'|translate}}</a>
                <a routerLink="/admin/adminLayout/addCategory" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'category.addNewCategory'|translate}}</a>
            </div>

            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#subCategory" aria-expanded="false" aria-controls="collapseExample">
               {{'subCategory.subCategory'|translate}}
            </button>
            <div id="subCategory" class="mt-2 collapse">
                <a routerLink="/admin/adminLayout/showSubCategories" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'subCategory.showAllsubCategories'|translate}}</a>
                <a routerLink="/admin/adminLayout/addSubCategory" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'subCategory.addNewsubCategory'|translate}}</a>
            </div>

            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#Products" aria-expanded="false" aria-controls="collapseExample">
                {{'product.products'|translate}}
            </button>
            <div  id="Products" class="mt-2 collapse">
                <a routerLink="/admin/adminLayout/showPendingProducts" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'product.pendingProducts'|translate}}</a>
            </div> 
            
            <!-- <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#discount" aria-expanded="false" aria-controls="collapseExample">
                {{'discount.allDiscounts'|translate}}
            </button>
            <div  id="discount" class="mt-2 collapse">
                <a routerLink="/admin/adminLayout/showAllDiscounts" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'discount.allDiscounts'|translate}}</a>
                <a routerLink="/admin/adminLayout/addDiscount" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'discount.addNewdiscount'|translate}}</a>
                <a routerLink="/admin/adminLayout/assignDisountToProduct" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'discount.assignDisountToProduct'|translate}}</a>
            </div> -->
            
            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#partners" aria-expanded="false" aria-controls="collapseExample">
                {{'partner.partners'|translate}}
            </button>
            <div  id="partners" class="mt-2 collapse">
                <a routerLink="/admin/adminLayout/showAllPartners" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'partner.showAllPartners'|translate}}</a>
                <a routerLink="/admin/adminLayout/addNewPartner" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'partner.addNewPartner'|translate}}</a>
            </div>
            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#Shippers" aria-expanded="false" aria-controls="collapseExample">
                {{'admin.Shipper'|translate}}
            </button>
            <div  id="Shippers" class="mt-2 collapse">
                <a routerLink="/admin/adminLayout/showallshippers" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'admin.AllShippers'|translate}}</a>
                <a routerLink="/admin/adminLayout/addshipper" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'admin.addNewShipper'|translate}}</a>
            </div>
            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#Roles" aria-expanded="false" aria-controls="collapseExample">
                {{'admin.Roles'|translate}}
            </button>
            <div  id="Roles" class="mt-2 collapse">
                <a routerLink="/admin/adminLayout/AddToRole" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'admin.AddToRole'|translate}}</a>
                <a routerLink="/admin/adminLayout/RemoveFromRole" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'admin.RemoveFromRole'|translate}}</a>
            </div>
            <button class="btn btn-dark form-control mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#addAdmin" aria-expanded="false" aria-controls="collapseExample">
                {{'admin.addAdmin'|translate}}
            </button>
            <div  id="addAdmin" class="mt-2 collapse">
                <a routerLink="/admin/adminLayout/RegisterAdmin" routerLinkActive="text-danger border border-1 border-danger" class="btn btn-outline-dark form-control mb-1  text-decoration-none">{{'admin.registerAdmin'|translate}}</a>
            </div>

    </div>
    <div class="col-12 col-md-9 shadow p-3">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
