  <div class="container ">
    <div class="row " style="margin-left: 100px; margin-right: 100px;">
      <div class="col-12  mt-5 pb-5 col-md-12">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-2">
            <div class="row justify-content-center">
              <div class="col-12 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">User Register </p>

                <form [formGroup]="registrationForm" class="mx-1 mx-md-4" (ngSubmit)="register()">

                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fa-solid fa-file-signature fa-lg me-3 fa-fw"></i>                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Your First Name</label>
                      <input type="text" id="form3Example1c" [class.is-invalid]="registrationForm.get('firstName')?.invalid&&registrationForm.
                        get('firstName')?.touched" [(ngModel)]="userregister.firstName" formControlName="firstName"
                        class="form-control" placeholder="Enter Your First Name" />

                      <div *ngIf="registrationForm.
                        get('firstName')?.invalid&&registrationForm.get('firstName')?.touched">

                        <small class="text-danger" *ngIf="registrationForm.
                            get('firstName')?.errors?.['required']">First Name is Required </small>


                      </div>


                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fa-solid fa-pencil fa-lg me-3 fa-fw"></i>                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Your Last Name</label>
                      <input type="text" id="form3Example1c" [class.is-invalid]="registrationForm.get('lastName')?.invalid&&registrationForm.
                        get('lastName')?.touched" [(ngModel)]="userregister.lastName" formControlName="lastName"
                        class="form-control"  placeholder="Enter Your Last Name"/>

                      <div *ngIf="registrationForm.
                        get('lastName')?.invalid&&registrationForm.get('lastName')?.touched">

                        <small class="text-danger" *ngIf="registrationForm.
                            get('lastName')?.errors?.['required']">Last Name is Required </small>


                      </div>


                    </div>
                  </div>




                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Your User Name</label>
                      <input type="text" id="form3Example1c" [class.is-invalid]="registrationForm.get('username')?.invalid&&registrationForm.
                        get('username')?.touched" [(ngModel)]="userregister.username" formControlName="username"
                        class="form-control" placeholder="Enter User Name" />

                      <div *ngIf="registrationForm.
                        get('username')?.invalid&&registrationForm.get('username')?.touched">

                        <small class="text-danger" *ngIf="registrationForm.
                            get('username')?.errors?.['required']">User Name is Required </small>


                      </div>


                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      <input type="email" id="form3Example3c" [class.is-invalid]=" registrationForm.get('email')?.invalid&&registrationForm.
                        get('email')?.touched" [(ngModel)]="userregister.email" formControlName="email"
                        class="form-control" placeholder="Enter Your Email " />



                      <div *ngIf="registrationForm.get('email')?.invalid&&registrationForm.
                        get('email')?.touched">
                        <small class="text-danger" *ngIf="registrationForm.
                            get('email')?.errors?.['required']">Email is Required </small>

                        <small class="text-danger" *ngIf="registrationForm.
                               get('email')?.errors?.['pattern']">Email Must be in pattern </small>
                      </div>

                    </div>
                  </div>


                  



                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <div class="mb-2">
                        <label for="pwd" class="form-label">Password</label>
                        <input formControlName="password" type="password"  [class.is-invalid]="
                        registrationForm.get('password')?.touched&&
                        registrationForm.get('password')?.invalid" [(ngModel)]="userregister.password"
                          class="form-control" id="pwd" placeholder="Enter password">
                      

                          <div *ngIf="registrationForm.get('password')?.invalid&&registrationForm.
                          get('password')?.touched">
                          <small class="text-danger" *ngIf="registrationForm.
                              get('password')?.errors?.['required']">password is Required </small>
  
</div>
                      </div>
                    </div>
                  </div>



                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">


                      <div class="mb-2">
                        <label for="confirmpass" class="form-label"> Confirm Password</label>
                        <input formControlName="confirmPassword" type="password"
                          [class.is-invalid]="registrationForm.errors?.['misMatch']"
                          [(ngModel)]="userregister.confirmPassword" class="form-control" id="confirmpass"
                          placeholder="Confirm your Password">

                        <small class="text-danger" *ngIf="registrationForm.errors?.['misMatch']">
                          Confirm Password must be match to Password </small>

                      </div>
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fa-solid fa-mars fa-lg me-3 fa-fw"></i>                    <div class="form-outline flex-fill mb-0">

                      <div class="form-check form-check-inline">

                        <input class="form-check-input" 
                        type="radio" name="gender" checked
                          (change)="handleMaleChange($event)"/>

                        <label class="form-check-label" 
                        for="maleGender">Male</label>
                      
                      </div>
                      
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" 
                      type="radio" name="gender"
                        (change)="handleFemaleChange($event)" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
                    <!-- <hr>
                        {{this.userregister.gender}}
                   <hr> -->
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-2 align-items-end">
                    <i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Your Phone Number</label>
                      <input type="tel" id="form3Example1c" [class.is-invalid]="registrationForm.get('phone')?.invalid&&registrationForm.
                        get('phone')?.touched" [(ngModel)]="userregister.phone" formControlName="phone"
                        class="form-control" placeholder="Enter Your Phone Number" />

                      <div *ngIf="registrationForm.
                        get('phone')?.invalid&&registrationForm.get('phone')?.touched">

                        <small class="text-danger" *ngIf="registrationForm.
                            get('phone')?.errors?.['required']">Phone is Required </small>


                      </div>


                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fa-solid fa-cake-candles fa-lg me-3 fa-fw"></i>                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Your BirthDate</label>
                      <input type="date" id="form3Example1c" [class.is-invalid]="registrationForm.get('birthDate')?.invalid&&registrationForm.
                        get('birthDate')?.touched" [(ngModel)]="userregister.birthDate" formControlName="birthDate"
                        class="form-control" />

                      <div *ngIf="registrationForm.
                        get('birthDate')?.invalid&&registrationForm.get('birthDate')?.touched">

                        <small class="text-danger" *ngIf="registrationForm.
                            get('birthDate')?.errors?.['required']">BirthDate is Required </small>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button  type="submit" class="btn btn-primary form-control btn-lg">Register</button>
                  </div>

                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
