<h4 [hidden]="productList.length>0" class="bg-warning text-dark text-center p-2 fs-4 rounded-pill">{{'product.noProducts'|translate}}</h4>

<div class="container-fluid">
  <div class="row row-cols-md-4 g-4 ps-2 pe-2 mt-3 mb-3">
    <div class="col d-flex" *ngFor="let product of productList">
      <div class="card w-100">
        <div class="first mt-2">
          <div class="justify-content-between align-items-center">
            <span class="discount" style="font-size: 13px;">-{{product.discount|percent}}</span>
            <span class="wishlist float-end"><i class="fa fa-heart-o"></i></span>
          </div>
        </div>
        <img src="{{product.images[0]}}" class="card-img-top" alt="..." height="150px">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-5">{{product.name}}</h5>
          <p class="card-text">This content is a little bit longer...</p>
        </div>
        <div class="card-footer bg-white border-top-0">
          <del  *ngIf="product.discount!=0"><span class="new-price">{{product.price|currency}}</span></del><br>
          <span class="new-price text-success">${{product.price}}</span>
          <a class="text-decoration-none" routerLink="/home/addToCart/{{product.id}}"><span class="buy float-end fs-5 fw-bold">BUY +</span></a>
        </div>
        <div class="card-footer mt-1 ">
            <div class="card voutchers">
              <div class="voutcher-divider ">
                <div class="voutcher-left text-center">
                  <span class="voutcher-name">Provided By</span>
                  <h5 class="voutcher-code">{{product.partenerName}}</h5>
                </div>
                <div class="voutcher-right text-center border-left ">
                  <h5 class="discount-percent" *ngIf="product.discount>0;else noDiscount">{{product.discount|percent}}<br><span class="off">Off</span></h5>
                  <ng-template class="discount-percent mt-5" #noDiscount>No Discount</ng-template>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>