<style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
    </style>
<!-- <p>Our Shippers</p>
<div class="container mt-5">
    <div class="row" >
        <div class="col-sm-4"*ngFor="let Shipper of  responsedata.data">
            <h2 class="text-danger">About Partner Number {{Shipper.id}}</h2>
        <div class="fakeimg">
        <h3 class="text-white">Company Name {{Shipper.name}}</h3>
        <h2 class="text-white">officePhone {{Shipper.officePhone}}</h2>
            </div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
    </div>
</div>    -->
<article class="leaderboard">
    <header>
      <h1 class="leaderboard__title"><span class="leaderboard__title--top">Our Shippers</span><span class="leaderboard__title--bottom">List</span></h1>
    </header>
    <main class="leaderboard__profiles">
        <article class="leaderboard__profile">
          <span class="leaderboard__name">Shipper ID</span>  
          <span class="leaderboard__name">Shipper Name</span>
          <span class="leaderboard__value">officePhone<span></span></span>
        </article>
      </main>
    <main class="leaderboard__profiles">
      <article class="leaderboard__profile" *ngFor="let Shipper of  responsedata.data">
        <span class="leaderboard__name">{{Shipper.id}}</span>
        <span class="leaderboard__name">{{Shipper.name}}</span>
        <span class="leaderboard__value">{{Shipper.officePhone}}<span>B</span></span>
      </article>
    </main>

