<div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8" [class]="textDirection">
        <h4 [hidden]="updateIdCategory>0" class="shadow bg-light text-dark text-center p-2 rounded-pill">{{'category.addNewCategory'|translate}}</h4>
        <h4 [hidden]="updateIdCategory<=0" class="shadow bg-light text-dark text-center p-2 rounded-pill">{{'category.updateCategory'|translate}}</h4>
        <form #caregoryForm="ngForm" (ngSubmit)="saveCategory()">
            <div class="form-group mt-5">
                <label for="name" class="mb-1">{{'category.categoryNameInen'|translate}}</label>
                <input type="text" pattern="[a-zA-Z 0-9]{2,100}" #name="ngModel" required [class.validInput]="name.valid" [class.invalidInput]="name.invalid && name.touched"  id="name" name="name" [(ngModel)]="categoryModel.name" class="form-control">
                <div class="text-danger" *ngIf="name.invalid && name.touched">
                    <small class="text-danger" *ngIf="name.errors!['required']">{{'category.nameRequiredError'|translate}}</small>
                    <small class="text-danger" *ngIf="name.errors!['pattern']">{{'category.namepatternErrorEn'|translate}}</small>
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="nameAr" class="mb-1">{{'category.categoryNameInar'|translate}}</label>
                <input type="text" pattern="[أ-ي 0-9]{2,100}" #nameAr="ngModel" required [class.validInput]="nameAr.valid" [class.invalidInput]="nameAr.invalid && nameAr.touched"  id="nameAr" name="nameAr" [(ngModel)]="categoryModel.name_Ar" class="form-control">
                <div class="text-danger" *ngIf="nameAr.invalid && nameAr.touched">
                    <small class="text-danger" *ngIf="nameAr.errors!['required']">{{'category.nameRequiredError'|translate}}</small>
                    <small class="text-danger" *ngIf="nameAr.errors!['pattern']">{{'category.namepatternErrorAr'|translate}}</small>
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="descriptionEn" class="mb-1">{{'category.categoryDescriptionInen'|translate}}</label>
                <input type="text" pattern="[a-zA-Z 0-9]{10,100}" #descriptionEn="ngModel" required [class.validInput]="descriptionEn.valid" [class.invalidInput]="descriptionEn.invalid && descriptionEn.touched"  id="descriptionEn" name="descriptionEn" [(ngModel)]="categoryModel.description" class="form-control">
                <div class="text-danger" *ngIf="descriptionEn.invalid && descriptionEn.touched">
                    <small class="text-danger" *ngIf="descriptionEn.errors!['required']">{{'category.descriptionRequiredError'|translate}}</small>
                    <small class="text-danger" *ngIf="descriptionEn.errors!['pattern']">{{'category.descriptionpatternErrorEn'|translate}}</small>
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="descriptionAr" class="mb-1">{{'category.categoryDescriptionInar'|translate}}</label>
                <input type="text" pattern="[أ-ي 0-9]{10,100}" #descriptionAr="ngModel" required [class.validInput]="descriptionAr.valid" [class.invalidInput]="descriptionAr.invalid && descriptionAr.touched"  id="descriptionAr" name="descriptionAr" [(ngModel)]="categoryModel.description_Ar" class="form-control">
                <div class="text-danger" *ngIf="descriptionAr.invalid && descriptionAr.touched">
                    <small class="text-danger" *ngIf="descriptionAr.errors!['required']">{{'category.descriptionRequiredError'|translate}}</small>
                    <small class="text-danger" *ngIf="descriptionAr.errors!['pattern']">{{'category.descriptionpatternErrorAr'|translate}}</small>
                </div>
            </div>
            <input type="submit" value="{{'category.save'|translate}}" [disabled]="caregoryForm.invalid" class="mt-4 form-control btn btn-outline-success"/>
        </form>
        <div class="col-12 col-md-12">
            <button (click)="back()" routerLinkActive="router-link-active"  class="btn btn-outline-warning form-control mt-3 mb-2">{{'category.cancel'|translate}}</button>
        </div>
    </div>
    <div class="col-12 col-md-2"></div>
</div>



