<h4 [hidden]="subCategoriesList.length<=0" class="shadow bg-light text-dark text-center p-2 fs-4 rounded-pill">{{'subCategory.subCategories'|translate}}</h4>
<div class="row mb-3 mt-5">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-3">Select Category</div>
    <div class="col-12 col-md-5">
        <select class="form-control" [(ngModel)]="selectedCategoryId" (change)="changeCategory()"  name="categories">
            <option value="{{category.id}}" *ngFor="let category of categoriesList">{{category.name}}</option>
        </select>
    </div>
    <div class="col-12 col-md-2"></div>
</div>

<div class="row mb-3">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-3">Select Sub Category</div>
    <div class="col-12 col-md-5">
        <select class="form-control" [(ngModel)]="selectedSubCategoryId" (change)="changeSubCategory()"  name="categories">
            <option value="{{subCategory.id}}" *ngFor="let subCategory of subCategoriesList">{{subCategory.name}}</option>
        </select>
    </div>
    <div class="col-12 col-md-2"></div>
</div>



<div class="row">
    <div class="col-12">
        <div [hidden]="subCategoriesList.length>0" class="alert alert-danger text-center">
            <strong>{{'subCategory.noSubCategories'|translate}}</strong>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div [hidden]="errorMessage.length==0" class="alert alert-danger text-center">
            <strong>{{errorMessage}}</strong>
          </div>
    </div>
</div>
<div class="row" *ngIf="selectedSubCategoryId!=-1">
    <div class="col-12">
        <div class="row mb-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="col-12 mb-2">
                        <div class="card border-secondary minHeight">
                            <div class="card-header">{{subCategoryModel.name}}</div>
                            <div class="card-body text-secondary">
                                <p class="card-text">{{subCategoryModel.name}}</p>
                            </div>
                            <div class="card-body text-muted">
                                <p class="card-text">{{subCategoryModel.categoryId}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 rtl">
                        <div class="card border-secondary minHeight">
                            <div class="card-header">{{subCategoryModel.arabicName}}</div>
                            <div class="card-body text-secondary">
                                <p class="card-text">{{subCategoryModel.arabicDescription}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="col-12 " style="background-image: url('/assets/images/placeholder.png');background-size: 100% 100%;">
                        <!-- <img src="/localhost:5092/Images/SubCategory/01d2b351-4f91-4f69-80bb-a318de3306b6_002.jpg" width="100%" height="300" class="mb-3 br-15 ">  -->
                        <img src="{{subCategoryModel.image}}" width="100%" height="300" class="mb-3 br-15 "> 
                     </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-12 col-md-3">
                    <button routerLink="/admin/adminLayout/addSubCategory/{{subCategoryModel.id}}" routerLinkActive="router-link-active"  class="btn btn-outline-success form-control mt-3 mb-2">{{'subCategory.update'|translate}}</button>
                </div>
                
                <div class="col-12 col-md-6 card mt-3 mb-1 pt-2 shadow text-center fs-5">{{'site.categoryName'|translate}} : {{textDirection=="ltr"?subCategoryModel.categoryName:subCategoryModel.arabicDescription}}</div>
                <div class="col-12 col-md-3">
                    <button routerLink="/admin/adminLayout/deleteSubCategories/{{subCategoryModel.id}}" routerLinkActive="router-link-active"  class="btn btn-outline-danger form-control mt-3 mb-2">{{'subCategory.delete'|translate}}</button>
                </div>
                
            </div>
            <hr class="mt-4">
        </div>
    </div>
</div>

 

<!-- <div class="row">
    <div class="col-12" *ngFor="let subCategory of subCategoriesList;index as i">
        <div class="row mb-4">
            {{subCategory.image}}
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="col-12 mb-2">
                        <div class="card border-secondary minHeight">
                            <div class="card-header">{{subCategory.name}}</div>
                            <div class="card-body text-secondary">
                                <p class="card-text">{{subCategory.name}}</p>
                            </div>
                            <div class="card-body text-muted">
                                <p class="card-text">{{subCategory.categoryId}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 rtl">
                        <div class="card border-secondary minHeight">
                            <div class="card-header">{{subCategory.arabicName}}</div>
                            <div class="card-body text-secondary">
                                <p class="card-text">{{subCategory.arabicDescription}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="col-12 ">
                        <img src={{subCategory.image}} width="100%" height="300" class="mb-3 br-15 "> 
                        <img src='{{"http://localhost:5092/"+subCategory.image}}' width="100%" height="300" class="mb-3 br-15 "> 
                     </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-12 col-md-3">
                    <button routerLink="/admin/adminLayout/addSubCategory/{{subCategory.id}}" routerLinkActive="router-link-active"  class="btn btn-outline-success form-control mt-3 mb-2">{{'subCategory.update'|translate}}</button>
                </div>
                
                <div class="col-12 col-md-6 card mt-3 mb-1 pt-2 shadow text-center fs-4">{{subCategory.categoryName}}</div>
                <div class="col-12 col-md-3">
                    <button routerLink="/admin/adminLayout/deleteSubCategories/{{subCategory.id}}" routerLinkActive="router-link-active"  class="btn btn-outline-danger form-control mt-3 mb-2">{{'subCategory.delete'|translate}}</button>
                </div>
                
            </div>
            <hr class="mt-4">
        </div>
    </div>
</div> -->

  