<div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
        <h4 class="shadow bg-light text-dark mt-4 mb-5 text-center p-2 rounded-pill">Complete Your Information</h4>
    </div>
    <div class="col-12 col-md-2"></div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-3 lead mt-2">Select Shipper</div>
    <div class="col-12 col-md-5">
        <select name="address" class="form-control" [(ngModel)]="shipperId">
            <option value="shipper.id" *ngFor="let shipper of shipperList">{{shipper.name}}</option>
        </select>
    </div>
    <div class="col-12 col-md-2"></div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-3 lead mt-2">Select Address</div>
    <div class="col-12 col-md-5">
        <select name="address" class="form-control" [(ngModel)]="addressId">
            <option value="address.id" *ngFor="let address of addressList">{{address.addressLine1}} - {{address.city}}</option>
        </select>
    </div>
    <div class="col-12 col-md-2">
        <a routerLink="/home/addAddress" style="display: inline-block;" class="text-decoration-none  mt-2">New Address</a>
    </div>
</div>
