<div class="container-fluid mt-3">
  <div class="row">
      <h1 style="text-align:center ;">Be One of Us</h1>
      <h1 style="text-align:center ;"> Ready to join us?</h1>
    
    
  </div>
   
    <div class="row">
      <div class="col-sm-2 p-2 bg-white text-white">.col</div>
      <div class="col-sm-5 p-3 bg-white text-white">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="assets/images/cytonn-photography-n95VMLxqM2I-unsplash.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <p style="color: black;"class="card-text">your business is easy to establish and start-up costs are low </p>
              <p style="color: black;">partners’ business affairs are private</p>
              <a href="/bePartner" class="btn btn-primary">Be A Partner</a>
            </div>
          </div>
      </div>
      <div class="col-sm-5 p-3 bg-white text-white">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="assets/images/shipper-scaled.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 style="color: black;">Increase Your Income </h4>
              <p style="color: black;">Be One of Us </p>
              <a href="/beShipper" class="btn btn-primary">Be A Shipper</a>
            </div>
          </div>
      </div>
      <div class="col-sm-1 p-2 bg-white text-white">.col</div>
    </div>
  </div>