<h2>pending products </h2>
<div class="row p-3">

    <div class="col-md-4"  *ngFor="let product of productList">
  
  
  
      <div class="card mt-5" style="min-height:330px ;">
  
        <div class="image-container">
  
          <div class="first">
  
            <div class="d-flex justify-content-between align-items-center">
  
              <span class="discount"></span>
              <!-- <span class="discount">{{product.price|discount:product.discount}}</span> -->
              <span class="wishlist"><i class="fa fa-heart-o"></i></span>
  
  
            </div>
          </div>
  
          <img src="{{product.images}}" class="img-fluid rounded thumbnail-image">
  
  
        </div>
  
  
        <div class="product-detail-container p-2">
  
          <div class="d-flex justify-content-between align-items-center">
  
            <h5 class="dress-name">{{product.name}}</h5>
  
            <div class="d-flex flex-column mb-2">
  
              
              <span class="new-price">{{product.price|currency}}</span>
            </div>
  
          </div>
  
          <div class="d-flex justify-content-between align-items-center pt-1">
            <div>
              <span class="rating-number">{{product.categoryName}}</span><br>
              <span class="rating-number">{{product.subcategoryName}}</span>
            </div>
          </div>
        </div>
        <span class="badge bg-danger">Pending</span>
      </div>
