.invalidInput{
    border-left: 3px solid red;
}
.validInput{
    border-left: 3px solid green;
}
.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}
.warningSnackBar {
    background: orange;
    color: black;
}
.br-5{
    border-radius: 5px;
}
.br-10{
    border-radius: 10px;
}
.br-15{
    border-radius: 15px;
}
.br-20{
    border-radius: 20px;
}

.successSnackBar {
    background: green;
}

.dangerSnackBar {
    background: red;
    color: black;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-24{
    font-size: 24px;
}
.fw-bold{
    font-weight: bold;
}
.dangerBorder{
    border: 1px solid red;
}
.successBorder{
    border: 1px solid green;
}
.warningBorder{
    border: 1px solid orangered;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// ----------------------start product item ------------------

// ----------------------End product item ------------------
