<!-- <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
    </style>
<p>Our Partners</p>
<div class="container mt-5">
    <div class="row" >
        <div class="col-sm-4"*ngFor="let Partner of  responsedata.data">
            <h2 class="text-danger">About Partner Number {{Partner.id}}</h2>
        <div class="fakeimg">
        <h3 class="text-white">Company Name {{Partner.name}}</h3>
        <h2 class="text-white">Owner Name {{Partner.ownername}}</h2>
        <h2 class="text-white">have {{Partner.numberOfBranches}} Branches</h2>
        </div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
    </div>
</div>     -->
<article class="leaderboard">
    <header>
      <h1 class="leaderboard__title"><span class="leaderboard__title--top">{{'partner.ourPartners'|translate}}</span><span class="leaderboard__title--bottom">{{'partner.list'|translate}}</span></h1>
    </header>
    <main class="leaderboard__profiles">
        <article class="leaderboard__profile">
          <span class="leaderboard__name"> {{'partner.id'|translate}}</span> 
          <span class="leaderboard__name"> {{'partner.userName'|translate}}</span> 
          <span class="leaderboard__name"> {{'partner.name'|translate}}</span>
          <span class="leaderboard__name"> {{'partner.noOfBranches'|translate}}</span>
        </article>
      </main>
    <main class="leaderboard__profiles">
      <article class="leaderboard__profile" *ngFor="let Partner of  responsedata.data">
        <span class="leaderboard__name">{{Partner.id}}</span>
        <span class="leaderboard__name">{{Partner.ownername}}</span>
        <span class="leaderboard__name">{{Partner.name}}</span>
        <span class="leaderboard__name">{{Partner.numberOfBranches}}</span>
      </article>
    </main>