.home-bg{
    background-color: #CACFD2;
    min-height: 400px;
}
.sidebar{
    background-color:white  ;
    color: indigo;font-weight: 700;
}
.sidebarheadre{
    color:white  ;
    background-color: rgb(47, 13, 72);font-weight: 700;
}