<div class="container-fluid">
  <div class="row" [class]="textDirection">
    <div class="col-12 col-md-3 home-bg" [class.pt-3]="textDirection=='rtl'">
      <div>      
        <a routerLink="/home/AllProducts" routerLinkActive="active" class="btn text-dark  btn-outline-light form-control mb-2">{{'home.showAllProducts'|translate}}</a>
        <a routerLink="/home/productsByCategory" routerLinkActive="active" class="btn text-dark btn-outline-light form-control mb-2">{{'home.productsByCategory'|translate}}</a>
        <a routerLink="/home/productsBySubCategory" routerLinkActive="active" class="btn text-dark btn-outline-light form-control mb-2">{{'home.productsBySubCategory'|translate}}</a>
        <a routerLink="/home/productsByPartner" routerLinkActive="active" class="btn text-dark btn-outline-light form-control mb-2">{{'home.productsByPartner'|translate}}</a>
        <a routerLink="/home/productsByProductName" routerLinkActive="active" class="btn text-dark btn-outline-light form-control mb-2">{{'home.productsByProductName'|translate}}</a>
        <a routerLink="/home/productsByPrice" routerLinkActive="active" class="btn text-dark btn-outline-light form-control mb-2">{{'home.productsByPrice'|translate}}</a>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>