<div class="container-fluid  text-dark  pt-5" style="background-color: #CACFD2;">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold text-danger"><span class="text-danger font-weight-bold border border-white px-3 mr-1">T</span>Shopper</h1>
            </a>
            <p>{{'footer.vision'|translate}}</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-danger margin-right"></i>{{'footer.address'|translate}}</p>
            <p class="mb-2"><i class="fa fa-envelope text-danger margin-right"></i>Ataaullah.Mohamed@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-danger margin-right"></i>01022447514</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">{{'footer.quickLink'|translate}}</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-decoration-none text-dark mb-2" href="index.html"><i class="fa fa-angle-right text-danger margin-right "></i>{{'footer.home'|translate}}</a>
                        <a class="text-decoration-none text-dark mb-2" href="shop.html"><i class="fa fa-angle-right text-danger margin-right"></i>{{'footer.ourShop'|translate}}</a>
                        <a class="text-decoration-none  text-dark mb-2" href="detail.html"><i class="fa fa-angle-right text-danger margin-right"></i>{{'footer.shopDetails'|translate}}</a>
                        <a class="text-decoration-none text-dark mb-2" href="cart.html"><i class="fa fa-angle-right text-danger margin-right"></i>{{'footer.shopCart'|translate}}</a>
                        <a class="text-decoration-none text-dark" href="contact.html"><i class="fa fa-angle-right text-danger margin-right"></i>{{'footer.contactUs'|translate}}</a>
                    </div>
                </div>
               

                <div class="col-md-7 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">{{'footer.letter' |translate}}</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="{{'footer.email'|translate}}" required="required" />
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="{{'footer.username'|translate}}"
                                required="required" />
                        </div>
                        <br>
                        <div>

                            <button class="btn btn-danger form-control btn-block border-0 py-3" type="submit">{{'footer.suscribNow'|translate}} </button>
                            <!-- {{'footer.suscribNow'|translate}} -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light col-12 col-md-12 text-center py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">{{'footer.siteName'|translate}}</a> {{'footer.coprWrite' | translate}}
                <a class="text-dark font-weight-semi-bold" href="https://www.iti.gov.eg/iti/home"> {{'footer.teamName'|translate}}</a><br>
            </p>
        </div>
       
    </div>
</div>