<div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8 textDirection">
        <form #assignDiscount="ngForm" (ngSubmit)="assignDiscountToProd()">
            <div class="form-group mt-2">
                <label for="CategoryID" class="mb-1">{{'product.selectCategory'|translate}}</label>
                <select (change)="onChangeCategory()"   #CategoryID="ngModel" required [class.validInput]="CategoryID.value!>0&&CategoryID.touched" [class.invalidInput]="CategoryID.value==-1 && CategoryID.touched"  id="CategoryID" name="CategoryID" [(ngModel)]="model.categoryId" class="form-control">
                    <option value="-1">{{'product.selectCategory'|translate}}</option>
                    <option value="{{category.id}}" *ngFor="let category of categories" >{{category.name}}</option>
                </select>
                    <div class="text-danger" *ngIf="CategoryID.value<=0 && CategoryID.touched">
                        <small class="text-danger" *ngIf="CategoryID.value<=0">{{'product.selectCategory'|translate}}</small>
                        <small class="text-danger" *ngIf="CategoryID.errors!['required']">{{'product.selectCategory'|translate}}</small>
                    </div>
            </div>
               


            <div class="form-group mt-2" *ngIf="!isSubCatSelectOptionHidden">
                <label for="subCategoryID" class="mb-1">{{'product.selectSubCategory'|translate}}</label>
                <select  (change)="onChangeSubCategory()"  #subCategoryID="ngModel" required [class.validInput]="subCategoryID.value!>0&&subCategoryID.touched" [class.invalidInput]="subCategoryID.value==-1 && subCategoryID.touched"  id="subCategoryID" name="subCategoryID" [(ngModel)]="model.subCategoryId" class="form-control">
                    <option value="-1">{{'product.selectSubCategory'|translate}}</option>
                    <option *ngFor="let subcategory of subCategories" value="{{subcategory.id}}">{{subcategory.name}}</option>
                </select>
                    <div class="text-danger" *ngIf="subCategoryID.value<=0 && subCategoryID.touched">
                        <small class="text-danger" *ngIf="subCategoryID.value<=0">{{'product.selectSubCategory'|translate}}</small>
                        <small class="text-danger" *ngIf="subCategoryID.errors!['required']">{{'product.selectSubCategory'|translate}}</small>
                    </div>
            </div>

            <div class="form-group mt-2" *ngIf="!isProductSelectOptionHidden">
                <label for="productID" class="mb-1">{{'product.selectProduct'|translate}}</label>
                <select   #productID="ngModel" required [class.validInput]="productID.value!>0&&productID.touched" [class.invalidInput]="productID.value==-1 && productID.touched"  id="productID" name="productID" [(ngModel)]="model.productId" class="form-control">
                    <option value="-1">{{'product.selectSubCategory'|translate}}</option>
                    <option *ngFor="let product of products.data" value="{{product.id}}">{{product.name}}</option>
                </select>
                    <div class="text-danger" *ngIf="productID.value<=0 && productID.touched">
                        <small class="text-danger" *ngIf="productID.value<=0">{{'product.selectProduct'|translate}}</small>
                        <small class="text-danger" *ngIf="productID.errors!['required']">{{'product.selectProduct'|translate}}</small>
                    </div>
            </div>

            <div class="form-group mt-2">
                <label for="productID" class="mb-1">{{'product.selectDiscount'|translate}}</label>
                <select   #discountID="ngModel" required [class.validInput]="discountID.value!>0&&discountID.touched" [class.invalidInput]="discountID.value==-1 && discountID.touched"  id="productID" name="productID" [(ngModel)]="model.discountId" class="form-control">
                    <option value="-1">{{'product.selectDiscount'|translate}}</option>
                    <option *ngFor="let discount of discounts" value="{{discount.id}}">{{discount.name}}</option>
                </select>
                    <div class="text-danger" *ngIf="discountID.value<=0 && discountID.touched">
                        <small class="text-danger" *ngIf="discountID.value<=0">{{'product.selectDiscount'|translate}}</small>
                        <small class="text-danger" *ngIf="discountID.errors!['required']">{{'product.selectDiscount'|translate}}</small>
                    </div>
            </div>

            <input type="submit" value="{{'product.save'|translate}}" [disabled]="assignDiscount.invalid||CategoryID.value==-1||model.productId==-1||model.productId==-1" class="mt-4 form-control btn btn-outline-success"/>
        </form>
        <button (click)="back()" class="mt-4 form-control btn btn-outline-warning mt-3">{{'product.cancel'|translate}}</button>
   
    </div>
    <div class="col-12 col-md-2"></div>
</div> 
